<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ room.name }}</title>
</head>
<body>
    <h1>Welcome to {{ room.name }}</h1>
    <div id="chat-box">
        <ul id="messages"></ul>
    </div>
    <input id="message-input" type="text" placeholder="Type a message..." />
    <button id="send-button">Send</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Code for WebSocket communication will go here
    </script>
</body>
</html>
